{var $attr['value'] = ('json_encode'|php:$attr['value'])}
<div id="{$attr['name']}" class="chips chips-initial chips-placeholder chips-autocomplete"></div>
<input type="hidden" n:attr="$attr" is-chips/>